header{
  background-image: url(../img/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  width: auto;
  height: 350px;
  display: flex;
  justify-content: center;
}
.head-title{
  color: white;
  margin-top: 90px;
  font-size: 60px;
  font-family: sans-serif;
  text-shadow    :
      2px  2px 1px black,
     -2px  2px 1px black,
      2px -2px 1px black,
     -2px -2px 1px black,
      2px  0px 1px black,
      0px  2px 1px black,
     -2px  0px 1px black,
      0px -2px 1px black;
}
body {
   margin: 0;
   padding: 0;
}
h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: 5px;
}
#wrap{
  background-color: #DCDCDC;
}
#profile{
  margin: 50px 180px;
  padding-top: 0px;
}
#skill{
  clear: both;
  margin: 50px 200px;
  padding-top: 5px;
}
#works{
  clear: both;
  margin: 50px 200px;
}
#contact{
  clear: both;
  margin: 50px 200px;
}
table{
  background-color: white;
  border: 1px gray solid;
  margin: auto;
  width:330px;
}
th,td{
  text-align: center;
}
th{
  font-size: 20px
}
.column{
  font-size: 18px;
}
footer{
  background-color: black;
  color: white;
  height: 120px;
}
.copyright{
  text-align: center;
  font-size: 12px;
  padding:20px;
}
#header-nav{
  background-color: #DCDCDC;
  font-weight: bold;
  padding: 10px;
  width: 98%;
}
#header-nav.fixed{
  left: 0;
  position: fixed;
  top: 0;
  box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0);
}
.hnav{
  width: 600px;
  /* 上のwidthで中央ぞろえにしている */
	margin: auto;
}
li{
  list-style-type: none;
  float: left;
  margin: 0 20px;
}
a{
  font-size: 24px;
  color: black;
  text-decoration: none;
}
a:hover{
  color: dimgray;
  text-decoration: underline;
}
a.http{
  font-size: 15px;
  color: blue;
  text-decoration: none;
}
a.http:hover{
  text-decoration: underline;
}
a.mail{
  font-size: 15px;
  color: blue;
  text-decoration: none;
}
a.mail:hover{
  text-decoration: underline;
}
.fnav{
  padding: 15px 0px;
  width: 400px;
  /* 上のwidthで中央ぞろえにしている */
  margin: auto;
}
.fnav li a{
  font-size: 15px;
  color: white;
}
.fnav li a:hover{
  color: gray;
}
.profile-text{
  float: right;
  margin-top: 0px;
  margin-left: 50px;
  width: 470px;
}
.right{
  float: right;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 50px;
  width: 380px;
}
.left{
  float: left;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 50px;
  width: 380px;
}
.left-under{
  clear: both;
  float: left;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 50px;
  width: 380px;
}
.image{
  float: left;
}
.contact-text{
  text-align: center;
  margin-bottom: 40px;
}
.skill-text{
  text-align: center;
  margin-bottom: 40px;
}
#hamburger{
  display: none;
}
.sm{
  display: none;
}

@media screen and (max-width:1024px){
  body {
     margin: 0;
     padding: 0;
  }
  a.http{
    display: block;
    font-size: 3.8vw;
  }
  a.mail{
    display: block;
    font-size: 3.8vw;
  }
  header{
    width: auto;
    height: 50vw;
    background-size: cover;
  }
  .head-title{
    margin-top: 12vw;
    font-size: 9vw;
  }
  .hnav{
    width: auto;
    /* 上のwidthで中央ぞろえにしている */
  	margin: auto;
  }
  .hnav li a{
    font-size: 6vw;
  }
  h1{
    font-size: 8vw;
  }
  #header-nav{
    display: none;
    padding: 10px;
    width: auto;
  }
  nav{
    width: auto;
  }
  #header-nav.fixed{
    width: auto;
  }
  #wrap{
    margin: auto;
  }
  #profile{
    clear: both;
    text-align: center;
    margin: 0px 5px;
    padding-top: 0vw;
  }
  .image{
    float: none;
    text-align: center;
  }
  .image img{
    width: 60%;
  }
  .profile-text{
    margin: 20px 3vw 0px 3vw;
    float: none;
    text-align: center;
    width: auto;
    font-size: 4vw;
  }
  .skill-text{
    margin: 5vw 3vw 5vw 3vw;
    float: none;
    width: auto;
    font-size: 4vw;
  }
  #skill{
    clear: both;
    text-align: center;
    margin: 0px 5px;
    padding-top: 0px;
  }
  td{
    font-size: 3.8vw;
  }
  th{
    font-size: 4.2vw;
  }
  .column{
    font-size: 4vw;
  }
  .left{
    float: none;
    width: 90vw;
    margin: 0px auto 50px auto;
  }
  .right{
    float: none;
    width: 90vw;
    margin: 0px auto 50px auto;
  }
  #works{
    clear: both;
    text-align: center;
    margin: 0px 5px;
    padding-top: 0px;
  }
  .left-under{
    float: none;
    width: 90vw;
    margin: 0px auto 50px auto;
  }
  #contact{
    clear: both;
    text-align: center;
    margin: 0px 5px;
    padding-top: 0px;
  }
  .contact-text{
    margin: 0px 3vw 40px 3vw;
    text-align: center;
    font-size: 4vw;
  }
  .fnav{
    width: 355px;
    /* 上のwidthで中央ぞろえにしている */
    margin: 0px auto 20px auto;
  }
  .fnav li a{
    color: white;
    font-size: 3vw;
  }
  footer{
    margin: auto;
    height: 30vw;
  }
  .copyright{
    clear: both;
    font-size: 3.2vw;
  }
#hamburger{
  display: block;
  background: rgba(52, 58, 64, .5);
  position: relative;
  cursor: pointer;
  margin: 0 0 0 auto;
  height: 13vw;
  width: 15vw;
  top: 2vw;
  right: 2vw;
}
.icon span{
  position: absolute;
  left: 3.2vw;
  width: 8vw;
  height: 1vw;
  background-color: white;
  border-radius: 8px;
  transition: ease 0.75s;
}
.icon span:nth-of-type(1){
  top:3vw;
}
.icon span:nth-of-type(2){
  top:6vw;
}
.icon span:nth-of-type(3){
  top:9vw;
}

.close span:nth-of-type(1){
  transform: rotate(45deg);
  top:6.2vw;
}
.close span:nth-of-type(2){
  opacity: 0;
}
.close span:nth-of-type(3){
  transform: rotate(-45deg);
  top:6.2vw;
}
.sm{
  top:65vw;
  left:0px;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
}
.sm.fixed{
  left: 0;
  position: fixed;
  top: 15vw;
}
#hamburger.fixed{
  position: fixed;
}
.sm ul{
  padding-left: 0px;
}
.sm li{
  float: none;
  text-align: center;
}
.sm a{
  text-align: center;
  color: white;
  font-size: 7vw;
}
}
