header{
  background-image: url(header-img2.jpg);
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  background-position: center top;
  width: auto;
  height: 350px;
  display: flex;
  justify-content: center;
}
.head-title{
  color: white;
  margin-top: 130px;
  font-size: 60px;
  font-family: sans-serif;
  text-shadow    :
      2px  2px 1px black,
     -2px  2px 1px black,
      2px -2px 1px black,
     -2px -2px 1px black,
      2px  0px 1px black,
      0px  2px 1px black,
     -2px  0px 1px black,
      0px -2px 1px black;
}
body {
   margin: 0;
   padding: 0;
}
h1{
  text-align: center;
}
#wrap{
  /* margin: auto; */
  background-color: #DCDCDC;
}
#profile{
  margin: 50px 50px;
}
#skill{
  clear: both;
  margin: 50px 50px;
  padding-top: 50px;
}
table{
  background-color: white;
  border: 1px gray solid;
  margin: auto;
}
footer{
  background-color: black;
  color: white;
}
.copyright{
  text-align: center;
  font-size: 12px;
  padding:10px;
}
